<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Colin Huber">
    <title>Travel App</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <h1>
            Travel Application
        </h1>
    </header>

    <section>
        <form>
            <div class="city">
                <p>Enter a city to travel to:</p>
                <input id="input-city" type="text" placeholder="Enter city here..." onfocus="this.value=''">
            </div>
            <div class="dates">
                Provide a departure date:
                <input id="input-departure-date" type="date" placeholder="Enter departure date here..."
                    onfocus="this.value=''">
                <br><br>
                Provide a return date:
                <input id="input-return-date" type="date" placeholder="Enter return date here..."
                    onfocus="this.value=''">
            </div>
            <div class="go-button">
                <button id="process-button" type="submit">GO!</button>
            </div>
        </form>
    </section>

    <main>
        <section class="results-container">
            <div id="city-info">
                Hey
            </div>
            <div id="weather-info">
                <div id="day0" class="weather-cell">
                    Monday
                </div>
                <div id="day1" class="weather-cell">
                    Tuesday
                </div>
                <div id="day2" class="weather-cell">
                    Wednesday
                </div>
                <div id="day3" class="weather-cell">
                    Thursday
                </div>
                <div id="day4" class="weather-cell">
                    Friday
                </div>
                <div id="day5" class="weather-cell">
                    Saturday
                </div>
                <div id="day6" class="weather-cell">
                    Sunday
                </div>
            </div>
            <div id="countdown">
                Countdown
            </div>
            <div id="pixabay-pic">
                Pic
            </div>

        </section>

        <!-- TBD this may be challenging, can't use the div ID's from above -->
        <section class="history-container">

        </section>
    </main>

    <footer>
        <!-- Per terms and conditions of the API, attribution of each API is required -->
        <h2>Powered by:</h2>

        <a href="https://www.geonames.org/"><img src="https://www.geonames.org/img/globe.gif" alt="GeoNames" width="75"
                height="75">GeoNames</a>

        <a href="https://www.weatherbit.io/terms/"><img src="https://www.weatherbit.io/static/img/icons/t01d.png"
                alt="WeatherBit" width="75" height="75">WeatherBit</a>


        <a href="https://pixabay.com/"><img
                src="https://cdn.pixabay.com/photo/2017/01/17/14/41/pixabay-1987080_960_720.png" alt="Pixabay"
                width="75" height="75">Pixabay</a>
        <p>
            This Travel App was created to complete the requirements for the Udacity Front End Web Developer Nanodegree
            program.
        </p>
        <div id="credits"></div>
    </footer>
</body>

</html>