footer {
    background-color: black;
    margin: 1em;
    padding: 1em;
    text-align: center;

    & p {
        padding: 10px;
        font-size: 20px;
    }
}

$anchor_color: inherit;

a {
    & :visited, & :active {
        color: $anchor_color;
    }
    color: $anchor_color;
}
