header {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px 40px;
    background-color: black;
    margin: 1em;
    padding: 1em;
}

h1 {
    text-align: center;
    padding: 0em 1em 0em;
    text-shadow: 3px 3px 5px silver;
    font-size: 2em;
}

h2 {
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding: 0px 0px 30px 0px;
}

.mc {
    padding: 30px 0px 0px 0px;
    display: flex;
    justify-content: center;
}