$white-border:2px solid white;
$hover-shadow: 3px 3px 5px silver;

html {
    font-family: Raleway;
    color: #fafafa;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #3a3f44;
    border: $white-border;
}

.results-container {
    display: grid;
    gap: 20px;
    grid-template-rows: 250px 450px;
    grid-template-columns: 300px 650px;
    justify-items: center;
    justify-content: center;

    & h2 {
        text-decoration: underline;
        font-size: 24px;
    }
}

@media(max-width: 1000px) {
    .results-container {
        grid-template-rows: repeat(2, 250px) repeat(2, 450px);
        grid-template-columns: 650px;
        text-align: center;
    }
}

@media(max-width: 580px) {
    .results-container {
        grid-template-rows: 200px 250px 450px 350px;
        grid-template-columns: 650px;
        text-align: center;
    }
}

@media(max-width: 500px) {
    .results-container {
        grid-template-rows: 200px 250px 450px 350px;
        grid-template-columns: 650px;
        text-align: center;
    }
}

@media(max-width: 430px) {
    .results-container {
        grid-template-rows: 200px 250px 450px 350px;
        grid-template-columns: 650px;
        text-align: center;
    }
}

.hide {
    display: none;
}

#city-info {

    & img {
        display: block;
        margin: 10px auto;
        border: $white-border;
    }
}

#weather-info {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.weather-cell {
    width: 80px;
    font-size: 12px;

    & img {
        border: $white-border;
        border-radius: 5px;
        max-width: 100%;
        height: auto;
    }

    & p {
        text-align: center;
    }
}

@media(max-width: 650px) {
    .weather-cell {
        width: 70px;
    }
}

@media(max-width: 580px) {
    .weather-cell {
        width: 60px;
        font-size: 11px;
    }
}

@media(max-width: 500px) {
    .weather-cell {
        width: 50px;
        font-size: 10px;
    }
}

@media(max-width: 430px) {
    .weather-cell {
        width: 40px;
        font-size: 9px;
    }
}

.weather-history {
    font-size: 20px;
    text-align: center;
}

@media(max-width: 550px) {
    .weather-history {
        & h2 {
            font-size: 18px;
        }
    }
}

#countdown {

    & img {
        border: $white-border;
        border-radius: 10px;
    }
}

#pixabay-pic {

    & img {
        border: $white-border;
        border-radius: 5px;
        max-width: 100%;
        height: auto;
    }

    & :hover {
        box-shadow: $hover-shadow;
    }
}

@media(max-width: 680px) {
    #pixabay-pic {
        max-width: 90%;
    }
}

@media(max-width: 620px) {
    #pixabay-pic {
        max-width: 80%;
    }
}

@media(max-width: 550px) {
    #pixabay-pic {
        max-width: 70%;
    }
}

@media(max-width: 480px) {
    #pixabay-pic {
        max-width: 60%;
    }
}

@media(max-width: 425px) {
    #pixabay-pic {
        max-width: 50%;
    }
}